<h1> <%= @song.title %> </h1>

<h3>Artist: <%= link_to @song.artist.name, "/artists/#{@song.artist.id}/songs" %> </h3>
<p>Length: <%= @song.length %> </p>
<p>Play Count: <%= @song.play_count %> </p>
<br>
<br>

<a href="/songs">Back to Song List</a>
